// profiles
profiles {
    charliecloud { includeConfig 'configs/charliecloud.config' }
    docker       { includeConfig 'configs/docker.config'       }
    singularity  { includeConfig 'configs/singularity.config'  }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    lrz_cm2      { includeConfig 'configs/lrz_cm2.config'      }
    lrz          { includeConfig 'configs/lrz.config'          }
    podman       { includeConfig 'configs/podman.config'       }
    local        { executor.name = 'local'                     }
}

process {
  publishDir = [
    path: { "${params.out}/${task.process.replace(':', '/').toLowerCase()}/${meta}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
}

// default params
params {
    enable_conda = false
    publish_dir_mode = 'copy'
    out = '.'
    // Samplesheet
    samplesheet = false
    // Optional steps
    porechop = false
    r_genes = true
    short_reads = false
    // Filters
    min_contig_length = 5000
    exclude_pattern = "ATMG"
    // References
    reference_name = "Col-CEN"
    reference_proteins = '/dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/reference_genomes/Arabidopsis/Col-CEN/Col-CEN_v1.2_proteins.fasta'
    // AUGUSTUS
    augustus_species = "arabidopsis"
    // pattern for geneIds
    gene_id_pattern = "AT[1-5C]G[0-9]+.[0-9]+|evm[0-9a-z\\.]*|ATAN.*"
    // evm
    nevm = 10
}