// profiles
profiles {
    charliecloud { includeConfig 'configs/charliecloud.config' }
    docker       { includeConfig 'configs/docker.config'       }
    singularity  { includeConfig 'configs/singularity.config'  }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    podman       { includeConfig 'configs/podman.config'       }
    local        { executor.name = 'local'                     }
}

process {}
// Load base.config by default for all pipelines
includeConfig 'configs/base.config'// default params

params {
    samplesheet = false
    enable_conda = false
    preprocess_reads = false
    publish_dir_mode = 'copy'
    min_contig_length = 5000
    exclude_pattern = "ATMG"
    bamsortram = 0
    mode = 'ont'
    primers = null
    pacbio_polya = true
    aligner = 'minimap2'
    reference_name = "Col-CEN"
    reference_proteins = '/dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/reference_genomes/Arabidopsis/Col-CEN/Col-CEN_v1.2_proteins.fasta'
    snap_organism = "A.thaliana"
    augustus_species = "arabidopsis"
    gene_id_pattern = "AT[1-5C]G[0-9]+.[0-9]+|evm[0-9a-z\\.]*|ATAN.*"
    r_genes = true
    short_reads = false
    out = './results'
    nevm = 10
    transposons = true
    satellites = true
}
// Load modules.config for DSL2 module specific options
includeConfig 'configs/modules.config'