/* -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 */

process {
  errorStrategy = { task.exitStatus == 143 || task.exitStatus == 137 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
  publishDir = [
    path: { "${params.out}/${task.process.replace(':', '/').toLowerCase()}/${meta}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
  withLabel: process_single {
    cpus = { 1 }
    memory = { 6.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withLabel: process_low {
    cpus = { 6 * task.attempt }
    memory = { 12.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withLabel: process_medium {
    cpus = { 12 * task.attempt }
    memory = { 36.GB * task.attempt }
    time = { 8.h * task.attempt }
  }
  withLabel: process_high {
    cpus = { 24 * task.attempt }
    memory = { 48.GB * task.attempt }
    time = { 16.h * task.attempt }
  }
}
