/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
  clusterOptions = '--clusters=biohpc_gen'
}

charliecloud {
  enabled = true
}

process {
  errorStrategy = 'retry'
  maxRetries = 3
  
  withName: 'ALIGN.*' {
	  cpus = { 16 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 6.h * task.attempt }
    container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
  }

  withName: 'BAMBU' {
	  cpus = {12 * task.attempt }
	  memory = { 24.GB * task.attempt }
  	time = { 2.h * task.attempt }
    errorStrategy = { (task.attempt < 6) ? 'retry' : 'finish' }
    container = "quay.io/biocontainers/bioconductor-bambu:3.4.0--r43hf17093f_0"
  }

  withName: PORECHOP {
	  cpus = { 16 }
	  memory = { 32.GB * task.attempt }
  	time = { 6.h * task.attempt }
    container = "gitlab.lrz.de:5005/beckerlab/container-playground/porechop_pigz:67602f4c"
  }

  withName: 'SEQTK.*' {
	  cpus = {4 * task.attempt }
	  memory = { 24.GB * task.attempt }
  	time = { 30.min * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }
  
  withName: 'EDTA' {
	  cpus = { 16 * task.attempt }
	  memory = { 24.GB * task.attempt }
  	time = { 10.h * task.attempt }
    container = "quay.io/biocontainers/edta:2.2.0--hdfd78af_0"
  }

  withName: 'SUBSET_ANNOTATIONS' {
	  cpus = { 6 * task.attempt }
	  memory = { 12.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }

  withName: SEQKIT_GET_LENGTH {
	  cpus = {4 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 30.min * task.attempt }
    container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
  }

  withName: MINIPROT {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
  }
  withName: MINIPROT_HRP {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
  }

  withName: SNAP {
	  cpus = {8 * task.attempt }
	  memory = { 24.GB * task.attempt }
	  time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/snap:2013_11_29--h470a237_1"
  }

  withName: AUGUSTUS {
	  cpus = {16 * task.attempt }
	  memory = { 32.GB * task.attempt }
  	time = { 2.h * task.attempt }
    container = "quay.io/biocontainers/augustus:3.5.0--pl5321h700735d_3"
  }

  withName: TRANSDECODER {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
    container = "trinityrnaseq/transdecoder:5.7.1"
  }

  withName: AGAT_EXTRACT_TRANSCRIPTS {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
  }

  withName: AGAT_GXF2GFF {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"
  }

  withName: PASA_SEQCLEAN {
	  cpus = {8 * task.attempt }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: PASA_TD {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "pasapipeline/pasapipeline:2.5.3"
  }

  withName: PASA_PIPELINE {
	  cpus = {8 * task.attempt }
	  memory = { 64.GB * task.attempt }
  	time = { 2.h * task.attempt }
    container = "pasapipeline/pasapipeline:2.5.3"
  }

  withName: 'EVIDENCEMODELER.*' {
	  cpus = {24 * task.attempt }
	  memory = { 64.GB * task.attempt }
  	time = { 4.h * task.attempt }
    container = "brianjohnhaas/evidencemodeler:2.1.0"
  }

  withName: 'AGAT_.*' {
    cpus = { 4 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/agat:1.1.0--pl5321hdfd78af_1"  
  }

  withName: 'INTERPROSCAN.*' {
    cpus = { 8 * task.attempt}
	  memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
    containerOptions = "-b /dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/software/interproscan-5.67-99.0/data:/opt/interproscan/data"
  }

  withName: 'BEDTOOLS_.*' {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }
  withName: MEME {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "memesuite/memesuite:5.5.5"
  }

  withName: MAST {
    cpus = { 8 }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "memesuite/memesuite:5.5.5"
  }

  withName: SEQKIT_GET_LENGTH {
    cpus = { 1 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = 'quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0'
  }

  withName: 'SEQTK_.*' {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
  }
  
  withName: 'FILTER_R_GENES.*' {
    cpus = { 4 }
	  memory = { 8.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "rocker/tidyverse:4.3.1"
  }

  withName: GET_R_GENE_GFF {
    cpus = { 1 }
	  memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = "staphb/bedtools:2.31.0"
  }

  withName: MAKEBLASTDB {
    cpus = { 4 }
	  memory = { 12.GB * task.attempt }
  	time = { 1.h * task.attempt }
    container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0'
  }

  withName: 'BLAST.*' {
    cpus = { 16 }
	  memory = { 12.GB * task.attempt }
  	time = { 2.h * task.attempt }
    container = 'quay.io/biocontainers/blast:2.14.1--pl5321h6f7f691_0'
  }

}

