charliecloud.enabled = true

process {
    withName: SEQKIT_GET_LENGTH {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }
    withName: SEQTK_SUBSET_INPUT {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SEQTK_SUBSET_FASTA {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SUBSET_ANNOTATIONS {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: 'AGAT_.*' {
        container = "quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0"
    }
    withName: 'ALIGN.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: 'INTERPROSCAN.*' {
        container = "interpro/interproscan:5.67-99.0"
        runOptions = "-b /dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/software/interproscan-5.67-99.0/data:/opt/interproscan/data"
    }
    withName: PORECHOP {
        container = "quay.io/biocontainers/porechop:0.2.4--py39h7cff6ad_2"
    }
    withName: 'BAMBU' {
        container = "quay.io/biocontainers/bioconductor-bambu:3.4.0--r43hf17093f_0"
    }
    withName: TRANSDECODER {
        container = "trinityrnaseq/transdecoder:5.7.1"
    }
    withName: AUGUSTUS {
        container = "quay.io/biocontainers/augustus:3.5.0--pl5321h700735d_3"
    }
    withName: SNAP {
        container = "quay.io/biocontainers/snap:2013_11_29--h470a237_1"
    }
    withName: MINIPROT {
        container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
    }
    withName: 'PASA_.*' {
        container = "pasapipeline/pasapipeline:2.5.3"
    }
    withName: 'EVIDENCE_MODELER.*|EVIDENCEMODELER.*' {
        container = "brianjohnhaas/evidencemodeler:2.1.0"
    }
}