docker.enabled = true

process {
    withName: SEQKIT_GET_LENGTH {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }
    withName: 'SEQTK.*' {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SUBSET_ANNOTATIONS {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: 'AGAT_.*' {
        container = "quay.io/biocontainers/agat:1.4.0--pl5321hdfd78af_0"
    }
    withName: 'ALIGN.*' {
        container = "quay.io/schandry/samtools-minimap2:latest"
    }
    withName: 'INTERPROSCAN.*' {
        container = "interpro/interproscan:5.67-99.0"
    }
    withName: PORECHOP {
        container = "quay.io/biocontainers/porechop:0.2.4--py39h7cff6ad_2"
    }
    withName: EDTA {
        container = "quay.io/biocontainers/edta:2.2.0--hdfd78af_0"
    }
    withName: 'BAMBU' {
        container = "quay.io/biocontainers/bioconductor-bambu:3.4.0--r43hf17093f_0"
    }
    withName: TRANSDECODER {
        container = "trinityrnaseq/transdecoder:5.7.1"
    }
    withName: AUGUSTUS {
        container = "quay.io/biocontainers/augustus:3.5.0--pl5321h700735d_3"
    }
    withName: SNAP {
        container = "quay.io/biocontainers/snap:2013_11_29--h470a237_1"
    }
    withName: 'MINIPROT.*' {
        container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
    }
    withName: 'PASA_.*' {
        container = "pasapipeline/pasapipeline:2.5.3"
    }
    withName: 'EVIDENCE_MODELER.*|EVIDENCEMODELER.*' {
        container = "brianjohnhaas/evidencemodeler:2.1.0"
    }
}