/* ----------------------------------------------------
 * Nextflow config file for the cm4 cluster
 * ----------------------------------------------------
 */

process {
  executor = 'slurm'
  queue = { task.memory <= 488.GB ? (task.time > 2.d ? 'serial_long' : 'serial_std') : 'teramem_inter' }
  clusterOptions = '--clusters=serial'
}

charliecloud {
  enabled = true
  writeFake = false
}

/*
singularity {
  enabled = true
  beforeScript = 'module load squashfs/4.5.1'
}
*/

process {
  errorStrategy = 'retry'
  maxRetries = 3

  withName: 'MINIMAP2.*' {
    cpus = { 16 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withName: 'ULTRA.*' {
    cpus = { 16 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withName: BAMBU {
    cpus = { 12 * task.attempt }
    memory = { 24.GB * task.attempt }
    time = { 2.h * task.attempt }
    errorStrategy = { task.attempt < 6 ? 'retry' : 'finish' }
  }

  withName: PORECHOP {
    cpus = { 16 }
    memory = { 32.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withName: REFINE {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withName: LIMA {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  withName: 'SEQTK.*' {
    cpus = { 4 * task.attempt }
    memory = { 24.GB * task.attempt }
    time = { 30.min * task.attempt }
  }

  withName: EDTA_FULL {
    cpus = { 16 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 24.h * task.attempt }
  }

  withName: TIR {
    cpus = { 8 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 12.h * task.attempt }
  }

  withName: LTR {
    cpus = { 4 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withName: HELITRON {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 3.h * task.attempt }
  }
  withName: LINE {
    cpus = { 12 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 10.h * task.attempt }
  }
  withName: SINE {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withName: MERGE {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withName: 'GENOMEGENERATE|MAP' {
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withName: SUBSET_ANNOTATIONS {
    cpus = { 6 * task.attempt }
    memory = { 12.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: SEQKIT_GET_LENGTH {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 30.min * task.attempt }
  }

  withName: MINIPROT {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: MINIPROT_HRP {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: SNAP {
    cpus = { 8 * task.attempt }
    memory = { 24.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: AUGUSTUS {
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: TRANSDECODER {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: AGAT_EXTRACT_TRANSCRIPTS {
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

  withName: AGAT_GXF2GFF {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

  withName: PASA_SEQCLEAN {
    cpus = { 8 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: TRIMGALORE {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withName: GENOMEGENERATE {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: STAR_ALIGN {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: TRINITY {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName: PASA_TD {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: PASA_PIPELINE {
    cpus = { 8 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 2.h * task.attempt }
  }

  withName: 'EVIDENCEMODELER.*' {
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withName: 'AGAT_.*' {
    cpus = { 4 }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: 'INTERPROSCAN.*' {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
    containerOptions = "-b /dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/software/interproscan-5.67-99.0/data:/opt/interproscan/data"
  }

  withName: 'BEDTOOLS_.*' {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: MEME {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: MAST {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: SEQKIT_GET_LENGTH {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: 'SEQTK_.*' {
    cpus = { 4 }
    memory = { 8.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: 'FILTER_R_GENES.*' {
    cpus = { 4 }
    memory = { 8.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: GET_R_GENE_GFF {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: MAKEBLASTDB {
    cpus = { 2 }
    memory = { 8.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  withName: 'BLAST.*' {
    cpus = { 8 }
    memory = { 12.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
}
