podman.enabled = true

process {
    withName: SEQKIT_GET_LENGTH {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }
    withName: SEQTK_SUBSET_INPUT {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SEQTK_SUBSET_FASTA {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: SUBSET_ANNOTATIONS {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: 'TRIMGALORE' {
        container = "quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0"
    }
    withName: 'GENOMEGENERATE|STAR.*' {
        container = "quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0"
    }
    withName: 'TRINITY' {
        container = "quay.io/biocontainers/trinity:2.15.1--pl5321hdcf5f25_4"
    }
    withName: 'AGAT_.*' {
        container = "quay.io/biocontainers/agat:1.4.0--pl5321hdfd78af_0"
    }
    withName: 'MINIMAP2.*' {
        container = "quay.io/schandry_containers/minimap2-samtools:latest"
    }
    withName: 'ULTRA.*' {
        container = "quay.io/biocontainers/ultra_bioinformatics:0.1--pyh7cba7a3_1"
    }
    withName: 'INTERPROSCAN.*' {
        container = "interpro/interproscan:5.67-99.0"
    }
    withName: PORECHOP {
        container = "quay.io/schandry_containers/porechop-pigz:latest"
    }
    withName: 'EDTA.*|SINE|LINE|LTR|TIR|HELTRON' {
        container = "quay.io/biocontainers/edta:2.2.0--hdfd78af_0"
    }
    withName: 'BAMBU' {
        container = "quay.io/biocontainers/bioconductor-bambu:3.4.0--r43hf17093f_0"
    }
    withName: TRANSDECODER {
        container = "trinityrnaseq/transdecoder:5.7.1"
    }
    withName: AUGUSTUS {
        container = "quay.io/biocontainers/augustus:3.5.0--pl5321h700735d_3"
    }
    withName: SNAP {
        container = "quay.io/biocontainers/snap:2013_11_29--h470a237_1"
    }
    withName: MINIPROT {
        container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
    }
    withName: MINIPROT_HRP {
        container = "quay.io/biocontainers/miniprot:0.12--he4a0461_0"
    }
    withName: 'PASA_.*' {
        container = "pasapipeline/pasapipeline:2.5.3"
    }
    withName: 'EVIDENCE_MODELER.*|EVIDENCEMODELER.*' {
        container = "brianjohnhaas/evidencemodeler:2.1.0"
    }
}