singularity.enabled = true

process {
    withName: SEQKIT_GET_LENGTH {
        container = "https://depot.galaxyproject.org/singularity/seqkit:2.4.0--h9ee0642_0"
    }
    withName: 'SEQTK.*' {
        container = "https://depot.galaxyproject.org/singularity/seqtk:1.4--he4a0461_1"
    }
    withName: SUBSET_ANNOTATIONS {
        container = "https://depot.galaxyproject.org/singularity/seqtk:1.4--he4a0461_1"
    }
    withName: 'AGAT_.*' {
        container = "https://depot.galaxyproject.org/singularity/agat:1.4.0--pl5321hdfd78af_0"
    }
    withName: 'ALIGN.*' {
        container = "https://depot.galaxyproject.org/singularity/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:3a70f8bc7e17b723591f6132418640cfdbc88246-0"
    }
    withName: 'MINIMAP2.*' {
        container = "https://depot.galaxyproject.org/singularity/ultra_bioinformatics:0.1--pyh7cba7a3_1"
    }
    withName: 'INTERPROSCAN.*' {
        container = "interpro/interproscan:5.67-99.0"
    }
    withName: PORECHOP {
        container = "https://depot.galaxyproject.org/singularity/porechop:0.2.4--py39h7cff6ad_2"
    }
    withName: EDTA {
        container = "https://depot.galaxyproject.org/singularity/edta:2.2.0--hdfd78af_0"
    }
    withName: 'BAMBU' {
        container = "https://depot.galaxyproject.org/singularity/bioconductor-bambu:3.4.0--r43hf17093f_0"
    }
    withName: TRANSDECODER {
        container = "trinityrnaseq/transdecoder:5.7.1"
    }
    withName: AUGUSTUS {
        container = "https://depot.galaxyproject.org/singularity/augustus:3.5.0--pl5321h700735d_3"
    }
    withName: SNAP {
        container = "https://depot.galaxyproject.org/singularity/snap:2013_11_29--h470a237_1"
    }
    withName: 'MINIPROT.*' {
        container = "https://depot.galaxyproject.org/singularity/miniprot:0.12--he4a0461_0"
    }
    withName: 'PASA_.*' {
        container = "pasapipeline/pasapipeline:2.5.3"
    }
    withName: 'EVIDENCE_MODELER.*|EVIDENCEMODELER.*' {
        container = "brianjohnhaas/evidencemodeler:2.1.0"
    }
}